header {
  position: sticky;
  top: 0;
  height: 100vh;
}

.logo {
  padding: 12px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}
a :hover {
  background-color: var(--color-light);
}
a {
  margin-top: 12px;
  text-decoration: none;
  color: var(--color--brand);
}
svg {
  width: 30px;
  height: 30px;
  margin-top: 12px;
}
li {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.headerCta {
  position: relative;
  margin: 12px 0;
}
.buttonPost {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: var(--color--brand);
  padding-top: 12px;
  margin-top: 10px;
}
.buttonPost_label {
  display: none;
}

/* mobile e tablet */
@media screen and(max-width:1024px) {
  header {
    width: 88px;
  }
  .navLinks {
    padding: 12px;
  }
  .navLink__content {
    padding: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .headerCta {
    padding-left: 12px;
  }

  .buttonPost {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .buttonPost svg {
    width: 24px;
    height: auto;
    fill: var(--color-text);
  }

  .buttonPost {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  header {
    width: 30%;
    padding-right: 40px;
  }

  .navLinks {
    padding: 12px 20px;
    border-radius: 26px;
  }

  .buttonPost {
    cursor: pointer;
    min-height: 50px;
  }

  .buttonPost .buttonPost__icon {
    display: none;
  }

  .buttonPost {
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
  }
}
