.mainContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.mainContent {
  height: 300vh;
}
/* mobile e tablet */

@media screen and (max-width: 1024px) {
  .mainContent {
    width: calc(100% - 88px);
  }
  .sidebar {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  .mainContainer {
    padding-left: 7%;
    padding-right: 7%;
  }
  .mainContent {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 60%;
  }
  .sidebar {
    width: 40%;
  }
}
.post img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
span {
  color: black;
}
p {
  text-align: center;
}
img {
  background-color: white;
  border-radius: 50%;
}
