@import "/css/reset.css";
@import "/css/variables.css";
@import "/css/layout.css";
@import "/css/header.css";

@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  background-color: var(--color--light);
  color: var(--color--text);
}
