* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 50px;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  transition: all 0.3s;
}
li:hover {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 20px;
}
